[class*=col-] {
  height: 200px;
  border: 1px solid #000;
  line-height: 200px;
}

.bg-lightpink  {
  background-color: #FFC0CB;
}

.bg-pink {
  background-color: #F07F80;
}

[class^="nested"] {
  height: 180px;
  border: 1px solid #fff;
  line-height: 180px;
}

.m-1 {
  margin: 10px;
}

.container {
  text-align: center;
}
